body{
    background-color: rosybrown;
}
img{
    border-radius: 17px;
}
h1{
    color: purple;
    font-size: 36px;
    text-align: center;
    border: 7px;
    border-style: solid;
    border-color: blueviolet;
    border-radius:  10px;
    padding: 10px, 10px, 10px, 10px;
}
h2, h3, h4, h5{
    color: blueviolet;
}
h6{
    color: fuchsia;
    font-size: medium;
}
